@import "tailwindcss";

@theme {
  @keyframes trigger {
    from {
      background-color: var(--color-yellow-200);
    }
    to {
      background-color: var(--color-orange-400);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
